<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia Time</title>
    <form action = "/answer" method = "POST">
        <p>{{ question }}</p>
        <p><input type = "text" name = "answer"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
</head>
<body>

</body>
</html>

