<!doctype html>
<html>
   <body>          
      <form action = "/login" method = "POST">
         <p><h3>Enter passkey</h3></p>
         <p><input type = "text" name = "passkey"/></p>
         <p><input type = "submit" value = 'Login'/></p>
      </form>
      <form action = "/logout" method = "POST">
         <p><input type = "submit" value = 'Logout'/></p>
      </form>
   </body>
</html>

