<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hosts</title>
    
    {% if groups|length >0 %}
    <table>
        <tr>
        <th>Hostname</th>
        <th>IP</th>
        <th>FQDN</th>
        </tr>
        {% for host in groups %}
            <tr>
                <th>{{ host.hostname }}</th>
                <th>{{ host.ip }}</th>
                <th>{{ host.fqdn }}</th>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action = "/edit" method = "POST">
        <p>Add host:</p>
        <p><input type = "text" name = "hostname"></p>
        <p><input type = "text" name = "ip"></p>
        <p><input type = "text" name = "fqdn"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
    <form action = "/logout" method = "POST">
         <p><input type = "submit" value = 'Logout'/></p>
    </form>
</head>
<body>

</body>
</html>

